* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #a7be40;
    color: white;
}

h1,
h2 {
    text-align: center;
    font-family: arial;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
    font-family: arial;
    color: gray;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: arial;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #6c21b3;
    box-shadow: 5px 10px #FF33FA;
}